{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bake and Take</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}">
</head>
<body>
  </header>
  <section class="about flex">
    <div class="about__content flex">
      <h2 class="content__title">Bake and Take/ sraka banka</h2>
      <h1 class="about__content__title ff-serif fs-400 fw-700">Кондиторська для душі</h1>
      <p class="about__content__description">Торти та солодощі на замовлення </p>
    </div>
</body>
</html>